<nav>
    <ul>
        <li><a href="{{ path('app_manager_dashboard') }}">Home</a></li>
        <li><a href="{{ path('app_manager_projects') }}">Projects</a></li>
        <li><a href="{{ path('app_manager_teams') }}">Teams</a></li>
        {#<li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Teams</a></li>#}
    </ul>
</nav>
