<nav>
    <ul>
        <li><a href="{{ path('app_member_dashboard') }}">Home</a></li>
        <li><a href="{{ path('app_member_tasks') }}">Tasks</a></li>
        {#<li><a href="#">Home</a></li>
        <li><a href="#">Tasks</a></li>#}
    </ul>
</nav>
