{% extends 'layout/dashboard.html.twig' %}

{% block navbar %}
    {# block - nadpisuje navbar z dashboard.html.twig #}
    {% include 'partials/navbar/_admin.html.twig' %}
{% endblock %}

{% block content %}
    {# block - nadpisuje content z dashboard.html.twig #}
    <h1>Admin Home</h1>
{% endblock %}
