{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partials/_header.html.twig' %} {# wklejenie partiala - tutaj header wspólny dla każdej roli (!) #}

    <div class="dashboard">

        {% block navbar %}
            {# domyślnie pusto — każda rola nadpisze navbar #}
        {% endblock %}

        <main class="content">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}
                {# każda rola nadpisze content (main) #}
            {% endblock %}
        </main>
    </div>
{% endblock %}
